$font-stack:  "Poppins", sans-serif;

$color-text: #000;
$color-menu:#fff;
$color-ligt-bg: #F3FFF4;
$color-gradient:linear-gradient(112.9deg, #048853 0.98%, rgba(0, 0, 0, 0.84) 165.36%);
$color-green-ligt: #00985B;
$color-green:#00492C;




