<section class="future animate">
  <div class="container__right">
    <div class="future__title-box">
      <h2>Fitur Rumah</h2>
      <button class="btn-grin future__btn">Lihat Semua..</button>
    </div>

    <div class="swiper__box">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
               <source type="imege/avif" srcset="../../images/room1.avif">
               <source type="imege/webp" srcset="../../images/room1.webp">
         
               <img src="../../images/room1.jpg" alt="livingroom" class="temukan__bg">
             </picture>
             <div class="curtains">
               <h3> Kamar Tidur</h3>
               <p>Rumah minimalist Type-A2</p>
               <h4>IDR.200jt</h4>
               <button class="btn-grin">Lihat Rumah</button>
             </div>
            </div>
            <div class="swiper-slide">
               <picture>
                  <source type="imege/avif" srcset="../../images/room2.avif">
                  <source type="imege/webp" srcset="../../images/room2.webp">
            
                  <img src="../../images/room2.jpg" alt="livingroom" class="temukan__bg">
                </picture>
                <div class="curtains">
                  <h3>Kamar Tidur</h3>
                  <p>Rumah minimalist Type-A2</p>
                  <h4>IDR.200jt</h4>
                  <button class="btn-grin">Lihat Rumah</button>
                </div>
               </div>
               <div class="swiper-slide">
                  <picture>
                     <source type="imege/avif" srcset="../../images/room3.avif">
                     <source type="imege/webp" srcset="../../images/room3.webp">
               
                     <img src="../../images/room3.jpg" alt="livingroom" class="temukan__bg">
                   </picture>
                   <div class="curtains">
                     <h3>Kamar Tidur</h3>
                     <p>Rumah minimalist Type-A2</p>
                     <h4>IDR.200jt</h4>
                     <button class="btn-grin">Lihat Rumah</button>
                   </div>
                  </div>
                  <div class="swiper-slide">
                     <picture>
                        <source type="imege/avif" srcset="../../images/room4.avif">
                        <source type="imege/webp" srcset="../../images/room4.webp">
                  
                        <img src="../../images/room4.jpg" alt="livingroom" class="temukan__bg">
                      </picture>
                      <div class="curtains">
                        <h3>Kamar Tidur</h3>
                        <p>Rumah minimalist Type-A2</p>
                        <h4>IDR.200jt</h4>
                        <button class="btn-grin">Lihat Rumah</button>
                      </div>
                     </div>
                     <div class="swiper-slide">
                        <picture>
                           <source type="imege/avif" srcset="../../images/room1.avif">
                           <source type="imege/webp" srcset="../../images/room1.webp">
                     
                           <img src="../../images/room1.jpg" alt="livingroom" class="temukan__bg">
                        </picture>
                         <div class="curtains">
                           <h3>Kamar Tidur</h3>
                           <p>Rumah minimalist Type-A2</p>
                           <h4>IDR.200jt</h4>
                           <button class="btn-grin">Lihat Rumah</button>
                         </div>
                     </div>
                        <div class="swiper-slide">
                           <picture>
                              <source type="imege/avif" srcset="../../images/room2.avif">
                              <source type="imege/webp" srcset="../../images/room2.webp">
                        
                              <img src="../../images/room2.jpg" alt="livingroom" class="temukan__bg">
                            </picture>
                            <div class="curtains">
                              <h3>Kamar Tidur</h3>
                              <p>Rumah minimalist Type-A2</p>
                              <h4>IDR.200jt</h4>
                              <button class="btn-grin">Lihat Rumah</button>
                            </div>
                           </div>
                           <div class="swiper-slide">
                              <picture>
                                 <source type="imege/avif" srcset="../../images/room3.avif">
                                 <source type="imege/webp" srcset="../../images/room3.webp">
                           
                                 <img src="../../images/room3.jpg" alt="livingroom" class="temukan__bg">
                               </picture>
                               <div class="curtains">
                                 <h3>Kamar Tidur</h3>
                                 <p>Rumah minimalist Type-A2</p>
                                 <h4>IDR.200jt</h4>
                                 <button class="btn-grin">Lihat Rumah</button>
                               </div>
                              </div>
                              <div class="swiper-slide">
                                 <picture>
                                    <source type="imege/avif" srcset="../../images/room4.avif">
                                    <source type="imege/webp" srcset="../../images/room4.webp">
                              
                                    <img src="../../images/room4.jpg" alt="livingroom" class="temukan__bg">
                                  </picture>
                                  <div class="curtains">
                                    <h3>Kamar Tidur</h3>
                                    <p>Rumah minimalist Type-A2</p>
                                    <h4>IDR.200jt</h4>
                                    <button class="btn-grin">Lihat Rumah</button>
                                  </div>
                                 </div>
          
        </div>
       

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

       
    </div>
   </div>
</section>
