<section class="recomend">
  <div class="container">
    <h2 class="recomend__title animate-text">Rekomendasi Rumah Untuk Mu</h2>
    <div class="recomend__gallery">
      <div class="recomend__card animate">
        <picture>
          <source type="imege/avif" srcset="../../images/hause1.avif" />
          <source type="imege/webp" srcset="../../images/hause1.webp" />
          <img
            src="../../images/hause1.jpg"
            alt="room1"
            class="recomend__img"
          />
        </picture>
        <p class="recomend__cost">IDR.200.000.000</p>
        <p class="recomend__adress">Jl. Soekarno Hatta No.1</p>
        <p class="recomend__headings">Sewa</p>
        <div class="recomend__icons">
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/bed.svg" alt="bedroom" />
              <p class="bedroom">3</p>
            </div>
            <p>Kamar Tidur</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/shower.svg" alt="showeroom" />
              <p class="shower">4</p>
            </div>
            <p>Kamar Mandi</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/globe.svg" alt="Luas Rumah" />
              <p class="rumah">360m</p>
            </div>
            <p>Luas Rumah</p>
          </div>
        </div>
      </div>
      <div class="recomend__card animate">
        <picture>
          <source type="imege/avif" srcset="../../images/hause2.avif" />
          <source type="imege/webp" srcset="../../images/hause2.webp" />
          <img
            src="../../images/hause2.jpg"
            alt="room1"
            class="recomend__img"
          />
        </picture>
        <p class="recomend__cost">IDR.200.000.000</p>
        <p class="recomend__adress">Jl. Soekarno Hatta No.1</p>
        <p class="recomend__headings">Jual</p>
        <div class="recomend__icons">
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/bed.svg" alt="bedroom" />
              <p class="bedroom">3</p>
            </div>
            <p>Kamar Tidur</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/shower.svg" alt="showeroom" />
              <p class="shower">4</p>
            </div>
            <p>Kamar Mandi</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/globe.svg" alt="Luas Rumah" />
              <p class="rumah">360m</p>
            </div>
            <p>Luas Rumah</p>
          </div>
        </div>
      </div>
      <div class="recomend__card animate">
        <picture>
          <source type="imege/avif" srcset="../../images/hause3.avif" />
          <source type="imege/webp" srcset="../../images/hause3.webp" />
          <img
            src="../../images/hause3.jpg"
            alt="room1"
            class="recomend__img"
          />
        </picture>
        <p class="recomend__cost">IDR.200.000.000</p>
        <p class="recomend__adress">Jl. Soekarno Hatta No.1</p>
        <p class="recomend__headings">Property Baru</p>
        <div class="recomend__icons">
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/bed.svg" alt="bedroom" />
              <p class="bedroom">3</p>
            </div>
            <p>Kamar Tidur</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/shower.svg" alt="showeroom" />
              <p class="shower">4</p>
            </div>
            <p>Kamar Mandi</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/globe.svg" alt="Luas Rumah" />
              <p class="rumah">360m</p>
            </div>
            <p>Luas Rumah</p>
          </div>
        </div>
      </div>
      <div class="recomend__card animate">
        <picture>
          <source type="imege/avif" srcset="../../images/hause4.avif" />
          <source type="imege/webp" srcset="../../images/hause4.webp" />
          <img
            src="../../images/hause4.jpg"
            alt="room1"
            class="recomend__img"
          />
        </picture>
        <p class="recomend__cost">IDR.200.000.000</p>
        <p class="recomend__adress">Jl. Soekarno Hatta No.1</p>
        <p class="recomend__headings">Sewa</p>
        <div class="recomend__icons">
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/bed.svg" alt="bedroom" />
              <p class="bedroom">3</p>
            </div>
            <p>Kamar Tidur</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/shower.svg" alt="showeroom" />
              <p class="shower">4</p>
            </div>
            <p>Kamar Mandi</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/globe.svg" alt="Luas Rumah" />
              <p class="rumah">360m</p>
            </div>
            <p>Luas Rumah</p>
          </div>
        </div>
      </div>
      <div class="recomend__card animate">
        <picture>
          <source type="imege/avif" srcset="../../images/hause5.avif" />
          <source type="imege/webp" srcset="../../images/hause5.webp" />
          <img
            src="../../images/hause5.jpg"
            alt="room1"
            class="recomend__img"
          />
        </picture>
        <p class="recomend__cost">IDR.200.000.000</p>
        <p class="recomend__adress">Jl. Soekarno Hatta No.1</p>
        <p class="recomend__headings">Sewa</p>
        <div class="recomend__icons">
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/bed.svg" alt="bedroom" />
              <p class="bedroom">3</p>
            </div>
            <p>Kamar Tidur</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/shower.svg" alt="showeroom" />
              <p class="shower">4</p>
            </div>
            <p>Kamar Mandi</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/globe.svg" alt="Luas Rumah" />
              <p class="rumah">360m</p>
            </div>
            <p>Luas Rumah</p>
          </div>
        </div>
      </div>
      <div class="recomend__card animate">
        <picture>
          <source type="imege/avif" srcset="../../images/hause6.avif" />
          <source type="imege/webp" srcset="../../images/hause6.webp" />
          <img
            src="../../images/hause6.jpg"
            alt="room1"
            class="recomend__img"
          />
        </picture>
        <p class="recomend__cost">IDR.200.000.000</p>
        <p class="recomend__adress">Jl. Soekarno Hatta No.1</p>
        <p class="recomend__headings">Sewa</p>
        <div class="recomend__icons">
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/bed.svg" alt="bedroom" />
              <p class="bedroom">3</p>
            </div>
            <p>Kamar Tidur</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/shower.svg" alt="showeroom" />
              <p class="shower">4</p>
            </div>
            <p>Kamar Mandi</p>
          </div>
          <div class="icon__box">
            <div class="box">
              <img src="../../images/svg/globe.svg" alt="Luas Rumah" />
              <p class="rumah">360m</p>
            </div>
            <p>Luas Rumah</p>
          </div>
        </div>
      </div>
    </div>
    <button class="loading">Lihat Lainnya...</button>
  </div>
</section>
