<section class="temukan animate">
  <div class="container">
    <picture>
      <source type="imege/avif" srcset="../../images/living-room.avif" />
      <source type="imege/webp" srcset="../../images/living-room.webp" />

      <img
        src="../../images/living-room.jpg"
        alt="livingroom"
        class="temukan__bg"
      />
    </picture>
    <div class="temukan__info center">
      <div class="infobox">
        <h2 class="temukan__title">Temukan Rumah Impianmu</h2>
        <p class="temukan__text">
          sekarang Anda dapat menghemat semua hal stres, waktu, dan biaya
          tersembunyi, dengan ratusan rumah untuk anda
        </p>
      </div>
      <div>
        <button class="temukan__btn active" id="temukan1">Jual</button>
        <button class="temukan__btn" id="temukan2">Sewa</button>
        <button class="temukan__btn" id="temukan3">Property Baru</button>
        <form
          action=""
          class="temukan__form focus"
          id="temukan__form1"
          method="get"
        >
          <fieldset class="temukan__input">
            <img src="../../images/svg/home.svg" alt="home" />
            <select name="TipeRumah" required>
              <option value="">Tipe Rumah</option>
              <option value="value1">Tipe Rumah 1</option>
              <option value="value2">Tipe Rumah 2</option>
              <option value="value3">Tipe Rumah 3</option>
            </select>
          </fieldset>
          <fieldset class="temukan__input">
            <img src="../../images/svg/range.svg" alt="range" />
            <select name="RangeHarga" required>
              <option value="">Range Harga</option>
              <option value="value1">20000$</option>
              <option value="value2">50000$</option>
              <option value="value3">100000$</option>
            </select>
          </fieldset>
          <textarea
            class="temukan__input"
            name="info"
            rows="1"
            placeholder="Cari berdasarkam"
          ></textarea>
          <button class="temukan__button btn-grin">Cari</button>
        </form>
        <form
          action=""
          class="temukan__form nofocus"
          id="temukan__form2"
          method="get"
        >
          <fieldset class="temukan__input">
            <img src="../../images/svg/home.svg" alt="home" />
            <select name="Sewa" required>
              <option value="">Sewa</option>
              <option value="value1">Sewa Rumah 1</option>
              <option value="value2">Sewa Rumah 2</option>
              <option value="value3">Sewa Rumah 3</option>
            </select>
          </fieldset>
          <fieldset class="temukan__input">
            <img src="../../images/svg/range.svg" alt="range" />
            <select name="RangeHarga" required>
              <option value="">Range Harga</option>
              <option value="value1">200$</option>
              <option value="value2">500$</option>
              <option value="value3">1000$</option>
            </select>
          </fieldset>
          <textarea
            class="temukan__input"
            name="info"
            rows="1"
            placeholder="Cari berdasarkam "
          ></textarea>
          <button class="temukan__button btn-grin">Cari</button>
        </form>
        <form
          action=""
          class="temukan__form nofocus"
          id="temukan__form3"
          method="get"
        >
          <fieldset class="temukan__input">
            <img src="../../images/svg/home.svg" alt="home" />
            <select name="PropertBaru" required>
              <option value="">PropertBaru</option>
              <option value="value1">PropertBaru 1</option>
              <option value="value2">PropertBaru 2</option>
              <option value="value3">PropertBaru 3</option>
            </select>
          </fieldset>
          <fieldset class="temukan__input">
            <img src="../../images/svg/range.svg" alt="range" />
            <select name="RangeHarga" required>
              <option value="">Range Harga</option>
              <option value="value1">20000$</option>
              <option value="value2">50000$</option>
              <option value="value3">100000$</option>
            </select>
          </fieldset>
          <textarea
            class="temukan__input"
            name="info"
            placeholder="Cari berdasarkam "
          ></textarea>
          <button class="btn-grin temukan__button">Cari</button>
        </form>
      </div>
    </div>
  </div>
</section>
