<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <a href="#" class="footer__logo">
        <img class="footer__logo-img" src="../../images/svg/footer-logo.svg" />
        <h4 class="footer__logo-title">Rumah Impian</h4>
      </a>
      <nav class="footer__menu">
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Branda</a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Layanan </a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Fitur </a>
          </li>
          <li class="footer-menu__item">
            <a href="#" class="footer-menu__link">Kontak</a>
          </li>
        </ul>
      </nav>
    </div>
    <p class="copy">Copyright bg Creative Academy All Right Reserved.</p>
  </div>
</footer>
