<header class="header">
  <div class="container">
    <div class="header__min">
      <a href="#" class="header__logo">
        <img class="header__logo-img" src="../../images/svg/logo.svg" />
        <h4 class="header__logo-title">Rumah Impian</h4>
      </a>
      <nav class="header__menu menu">
        <ul class="menu__list">
          <button class="clouse_menu">
            <svg>
              <use xlink:href="../images/sprite.svg#close"></use>
            </svg>
          </button>
          <li class="menu__item">
            <a href="#" class="menu__link active">BRANDA</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link">LAYANAN </a>
          </li>
          <li class="menu__item"><a href="#" class="menu__link">FITUR</a></li>
          <li class="menu__item"><a href="#" class="menu__link">KONTAK</a></li>
        </ul>
      </nav>
      <div class="header__user">
        <a href="#" class="header__link">MASUK</a>
        <button class="burger">
          <svg>
            <use xlink:href="../images/sprite.svg#burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="container__right">
    <div class="header__max">
      <div class="header__info">
        <h1 class="header__title animate-text">
          Membantu Temukan Rumah Impian.
        </h1>
        <p class="header__text animate-text">
          Rumah Impian hadir untuk temukan rumah terbaik untukmu, untuk di jual
          ataupun di sewa dengan sumber terpercaya.
        </p>
        <a href="#" class="header__link">Temukan Rumah</a>
      </div>
    </div>
  </div>
</header>
